@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

.cid-ry1tfIfpmh.popup-builder {
  background-color: #ffffff;
}
.cid-ry1tfIfpmh.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-ry1tfIfpmh.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-ry1tfIfpmh .modal-content,
.cid-ry1tfIfpmh .modal-dialog {
  height: auto;
}
.cid-ry1tfIfpmh .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-ry1tfIfpmh .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-ry1tfIfpmh .form-wrapper .mbr-form .form-group,
  .cid-ry1tfIfpmh .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-ry1tfIfpmh .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-ry1tfIfpmh .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-ry1tfIfpmh .mbr-text {
  text-align: center;
}
.cid-ry1tfIfpmh .pt-0 {
  padding-top: 0 !important;
}
.cid-ry1tfIfpmh .pb-0 {
  padding-bottom: 0 !important;
}
.cid-ry1tfIfpmh .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-ry1tfIfpmh .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-ry1tfIfpmh .modal-open {
  overflow: hidden;
}
.cid-ry1tfIfpmh .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-ry1tfIfpmh .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-ry1tfIfpmh .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-ry1tfIfpmh .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-ry1tfIfpmh .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-ry1tfIfpmh .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-ry1tfIfpmh .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-ry1tfIfpmh .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-ry1tfIfpmh .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-ry1tfIfpmh .modal-backdrop.fade {
  opacity: 0;
}
.cid-ry1tfIfpmh .modal-backdrop.show {
  opacity: .5;
}
.cid-ry1tfIfpmh .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-ry1tfIfpmh .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-ry1tfIfpmh .modal-header .close:hover {
  opacity: 1;
}
.cid-ry1tfIfpmh .modal-header .close:focus {
  outline: none;
}
.cid-ry1tfIfpmh .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-ry1tfIfpmh .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-ry1tfIfpmh .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-ry1tfIfpmh .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-ry1tfIfpmh .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-ry1tfIfpmh .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-ry1tfIfpmh .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-ry1tfIfpmh .modal-sm {
    max-width: 300px;
  }
  .cid-ry1tfIfpmh .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-ry1tfIfpmh .modal-lg,
  .cid-ry1tfIfpmh .modal-xl {
    max-width: 800px;
  }
  .cid-ry1tfIfpmh .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-ry1tfIfpmh .modal-xl {
    max-width: 1140px;
  }
  .cid-ry1tfIfpmh .container {
    max-width: 1140px;
  }
}
.cid-ry1tfIfpmh .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-ry1tfIfpmh .container {
    max-width: 720px;
  }
}
.cid-ry1tfIfpmh .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-ry1tfIfpmh .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-ry1tfIfpmh .form-group {
  margin-bottom: 1rem;
}
.cid-ry1tfIfpmh .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-ry1tfIfpmh .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-ry1tfIfpmh .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-ry1tfIfpmh .btn {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
